name: Lint

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'
  release:
    types: [published]

jobs:

  lint:

    runs-on: ubuntu-latest
    steps:

      - name: checkout repo
        uses: actions/checkout@v3

      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: check rust
        run: |
          rustup --version
          rustc --version && rustc +nightly --version
          cargo --version && cargo +nightly --version

      - name: setup rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.74.0

      - name: setup linters
        run: |
          pip install pre-commit==2.17.0
          pre-commit install-hooks

      # lint all files
      - name: lint
        run: pre-commit run --all-files
